:root {
  /* COLORS */
  --pa__pink: #ff89de;
  --pa__blue: #006ff1;
  --pa__green: #00fd01;
  --pa__text-dark: #0c1413;
  --pa__text-light: #ecf1f0;
}

/* TYPOGRAPHY */
.pa-displayDark {
  font-size: 12.5rem;
  line-height: 11.5rem;
  font-weight: 600;
  color: var(--pa__text-dark);
}

.pa-displayLight {
  font-size: 12.5rem;
  line-height: 11.5rem;
  font-weight: 600;
  color: var(--pa__text-light);
}

.pa-header {
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 600;
  letter-spacing: 0.13rem;
}

.pa-paragraph {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
  /* color: var(--pa__text-dark); */
}

.pa-paragraphLink {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
  color: var(--pa__text-blue);
  text-decoration: underline;
}

/* COMPONENTS */
.pa-input {
  width: 100%;
  height: 88px;
  border: 4px solid black;
}

input[type='text']:focus {
  outline: 2px solid var(--pa__pink);
}

/* EXPERIMENTAL */
::selection {
  background-color: white;
  color: var(--pa__pink);
}
