:root {
  /* COLORS */
  --pa__pink: #ff89de;
  --pa__blue: #006ff1;
  --pa__green: #00fd01;
  --pa__text-dark: #0c1413;
  --pa__text-light: #ecf1f0;
}

/* LAYOUT */
.pa-pageLayout {
  @apply px-4 sm:px-8 
  /* sm:container */
  /* mx-auto */
}

/* TYPOGRAPHY */
.pa-displayDark {
  @apply text-6xl lg:text-9xl font-semibold text-[#0c1413];
}

.pa-displayLight {
  @apply text-6xl lg:text-9xl font-semibold text-[#ecf1f0];
}

.pa-paragraph {
  @apply text-xl sm:text-2xl font-normal text-[#0c1413] tracking-wider;
}

.pa-paragraphLink {
  @apply text-xl sm:text-2xl font-normal text-[#006ff1] tracking-wider underline;
}

/* COMPONENTS */
.pa-input {
  background: white;
  -webkit-appearance: none;
  border-radius: 0;
  caret-color: var(--pa__pink);
}

input[type='text']:focus {
  outline: 0px
}

/* EXPERIMENTAL */
::selection {
  background-color: white;
  color: var(--pa__pink);
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
